.container {
    width: 1100px;
}

#content-wrapper > section, {
    @apply py-16;
}

#content-wrapper > section:first-of-type {
    @apply py-12;
}

footer {
    @apply p-12;
}


  .btn {
      display: inline-block;
      padding:.5rem 1rem;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1rem;
      text-decoration: none;
      color:#fff;
      background: #dd6c37;
      border-radius: 5px;
      border: 1px solid #dd6c37;
      font-family: "Ubuntu",sans-serif;

      &:hover {
          @apply bg-gray-800;
      }
  }


  header {
      @apply bg-gray-800;
      height: 120px;
      box-sizing: border-box;
      .container {
          height:100%;
          img {
              max-height:100%;
              padding: 1rem;
          }

          .btn {
            position: relative;
            top: calc(50% - 1.25rem);
            font-weight: bold;
          }
      }
  }

  section.hero {
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
      .container > div {
          flex: 1;
      }

      img {
        max-width: 100%;
        margin-bottom: 3rem;
      }

      .message {
        @apply text-center
      }

      .hero-text-block {
          p {
              @apply my-4
          }
      }
  }

  .multi-item-section {
      &.without-item-headers {
          ul.multi-item-list li>img {
              @apply my-10
          }
      }
    .multi-item-list {
        @apply text-center;
        li {
            @apply mx-4;
        }
        li > img {
            @apply mx-auto block;
        }
    
        b {
            color: red;
        }
      }

      @apply bg-gray-100 pb-24;
  }
  
  .benefits-side-by-side {
      .container {
          @apply flex;
          div {
              @apply w-1/2;
              padding: 5% 35px 0;
              h2{
                  @apply text-4xl text-orange font-bold uppercase mb-6;
              }
              ul {
                  li {
                      @apply mb-4;
                      h3 {
                          @apply text-xl text-orange font-bold;
                      }
                  }
              }
          }
      }
  }

  .single-paragraph-section {
      @apply text-2xl font-normal;
      .container {
        @apply my-12 text-center;
      }

      p {
          display: inline-block;
          margin: 2rem auto;
      }
      
      &.with-headline {
        h1 {
            @apply text-4xl font-bold;
        }
      }
      
      &.with-headline,&.with-button,&.with-headline.with-button {
          .container {
            flex-direction: column;
          }
          
          .btn {
            max-width: 33%;
            margin: auto;
          }
      }
  }

  .two-pane {
      &.with-background {
        background-image: url(/images/landing-banner-bg.jpg);
        background-position-x: right;
        background-repeat: no-repeat;
        background-size: auto 100%;
      }

      &.with-separator {
          .container {
              & > div {
                  &:first-of-type {
                    @apply border-r border-solid;
                    border-color: #898989;
                  }
              }
          }
      }
      .container {
          & > div.headline {
              text-align:center;
              h1 {
                  @apply text-4xl font-normal;
              }
          }
          & > div.content{
              @apply flex;
              & > div {
                @apply w-1/2;
              &:first-of-type {
                  padding-right: 2rem;
              }
              &:last-of-type {
                  margin-left: 2rem;
              }
              }
    
              h1 {
                  @apply font-normal text-4xl mb-5 text-center;
              }
          }
      }
  }

  footer { 
      div {
          @apply w-full;
      }
  }

  .three-pane {
      .container {
          .row {
              div {
                  @apply m-4 text-center;
                  figure {
                    @apply bg-white text-orange inline-block py-3 px-8 mb-8 rounded-full text-4xl;
                  }
              }
          }
      }
  }

  footer {
      @apply text-white bg-orange;
      a {
          @apply inline-block mr-4;
      }
  }

  .blog-entry {
    @apply flex border-b pb-4 mb-4 mr-4;
    .image {
        width: 250px;
    }

    .info {
        @apply flex-grow ml-4;
        h4 {
            @apply text-lg font-semibold uppercase;
        }
    }

    &:last-of-type {
        border: none;
    }
  }

  iframe#hs-form-iframe-0 {
    width: 100%!important;
}

.MediaCard-mediaContainer {display:none;}

.about-inciter {
    .container > div {
        &:first-of-type {
            @apply mr-4;
        }

        &:last-of-type {
            @apply ml-4;
        }
    }
    h1,h2,p {
        @apply mb-4;
    }
}

.single-paragraph-section {
    &.bg-gray-700 {
        @apply text-white font-light;
        a {
            @apply font-bold text-orange;
        }
    }
}

.align-container {
    align-items: center;
    justify-items: center;
    display: flex;
}