.container {
    width: calc(100% - 2rem);
    @apply mx-4;
}

header .cta {
    @apply text-right;
}

header .cta {
    @apply invisible;
}

.hero {
    .message {
        @apply w-full px-0;
    }

    .image {
        @apply w-full;
    }
    
}

.three-pane {
    .container {
        @apply block;
        .row {
            @apply w-full;
        }
    }
}

footer {
    display: block;
    .copyright {
        @apply w-full;
    }
    .links {
        @apply w-full;
    }
}

.two-pane {
    .container {
        div {
            @apply w-full;
            &:first-of-type {
                @apply border-0;
            }
        }
    }

    &.contact-form {
        .container {
            div:last-child {
                display:none;
            }
        }
        
    }
}

.two-pane-w-header {
    .container {
        @apply block;
    }
    .split {
        @apply block;
        & > div {
            @apply w-full mb-8;
        }
    }
}

.benefits-side-by-side {
    background-image: none;
    .container {
        @apply block;

        div {
            @apply w-full;
        }
    }
}

.multi-item-section {
    .multi-item-list {
        @apply block;
        li {
            @apply mb-8
        }
    }
}

.home.page .hero:first-of-type {
        .container {
            div.message {
                @apply mb-8;
            }

            div.image {
                img {
                    @apply mb-0;
                }
            }
        }
    }

#content-wrapper {
    & > section:first-of-type {
        @apply py-0;
    }
}


@screen md {
    
    .container {
        width: 1100px;  
    }
    section > .container, footer > .container {
        @apply mx-auto flex;
    }

    header .cta {
        @apply w-4/6 visible;
    }

    .multi-item-section {
        .multi-item-list {
            @apply flex;
        }
    }

    .benefits-side-by-side {
        background-image: url('/images/frame.png');
        background-repeat: no-repeat;
        background-size: 50% 100%;
        .container {
            @apply flex;
    
            div {
                @apply w-1/2;
            }
        }
    }

    .hero .message {
        @apply w-1/2 px-12 pt-8;
        margin-top: 5.5rem;
    }

    .hero .image {
        @apply w-1/2;
    }

    .three-pane {
        .container {
            .row {
                @apply flex;

                div {
                    @apply w-1/3;
                }
            }
        }
    }

    footer {
        display: block;
        .copyright {
            @apply w-5/6;
        }
        .links {
            @apply w-1/6;
        }
    }

    .two-pane{
        .container {
            div {
                @apply w-1/2;
                &:first-of-type {
                    @apply border-r;
                }
                &:last-child {
                    @apply block;
                }
            }
        }
        &.contact-form {
            .container {
                div:first-of-type {
                    border: none;
                }
                div:last-child {
                    display:block;
                }
            }
            
        }
    }

    
    .two-pane-w-header {
        .container {
            @apply flex flex-col;
        }
        .split {
            @apply flex;
            & > div {
                @apply w-1/2;
            }
        }
    }

    .home.page .hero:first-of-type {
        background-image: url(/images/landing-banner-bg.jpg);
        background-position-x: right;
        background-repeat: no-repeat;
        background-size: auto 100%;
        .container {
            div {
                @apply mb-8;
            }
        }
    }

    .how-we-do-it {
        .row {
          div:first-of-type {
              figure::before {
                border:none;
                background: none;
              }
          }
    
          div:last-of-type {
              figure::after {
                  border:none;
                  background: none;
              }
          }
        }
        
        figure {
          position: relative;
          &::after {
              position: absolute;
              content: '';
              border-top: 1px dashed #000;
              width: calc(1100px/4);
              top: 50%;
              left: 100%;
            }
  
          &::before {
              position: absolute;
              top: calc(50% - 12px);
              right: 100%;
              content: '';
              width: 10px;
              height: 24px;
              background: url(https://1qwaw415qv3rt37fl45z1zv1-wpengine.netdna-ssl.com/wp-content/themes/cabin-child/img/arrowhead.png) no-repeat scroll center right;
              background-position-y: 6px;
          }
        }
    }
}