<section class="about-inciter{{if .background_color}} bg-{{.background_color}}{{end}}">
    <div class="container mx-auto flex">
        <div class="w-1/4">
            <img src="/images/inciter-logo-light.png" />
        </div>
        <div class="w-3/4">
            <h1>About us</h1>
            <h2>We Make Data Easy(er)</h2>
            <p>We help nonprofits create impact by improving donor experience and targeting their fundraising efforts. We do this by getting the most out of the data they already collect.</p>
            <a href="#" class="btn">Learn more about Inciter</a>
        </div>
    </div>
</section>