<section class="benefits-side-by-side">
    <div><img src="{{ .image_url|relURL }}" /></div>
    <div>
        <h2>{{ .headline }}</h2>
        <ul>
            {{- range .benefits_list -}}
                <li>
                    <h3>{{ .benefit_text }}</h3>
                    <p>{{ .benefit_explanation |safeHTML }}</p>
                </li>
            {{- end -}}
        </ul>
    </div>
</section>

<style>
    .benefits-side-by-side {
        display: flex;
        flex-direction: row;
    }

    .benefits-side-by-side div {
        flex: 1;
    }

    .benefits-side-by-side img {
        width:100%;
        height:auto;
        max-width: 100%;
    }
</style>