<section class="bg-{{.background_color}}">
    <div class="container mx-auto flex-col">
        <div class="w-full"><h1 class="text-3xl text-orange text-center font-medium mb-16">What to expect with Incite</h1></div>
        <div class="w-full flex">
            <div class="w-1/2 align-container">
                <div class="my-auto text-xl"><p>Transitioning to a new data system can be a pain. We make sure we understand your program, your data, and what you need before we even begin.</p></div>
            </div>
            <div class="w-1/2"><img src="/images/welcome-screen.png"></div>
        </div>
        <div class="w-full"><h1 class="text-2xl text-orange text-left font-bold font-medium mb-4">Our Process</h1></div>
        <div class="flex process-4x">
        
            <div class="w-1/4">
                <figure>1</figure>
                <p>We learn about you, your staff, and your program. We ask questions about who enters data and how. We find out what reports you need, who needs them, and how they are used.</p>
            </div>
            <div class="w-1/4">
                <figure>2</figure>
                <p>We document your forms, data you need to import and export to other systems, and what reports you will need and who needs them.</p>
            </div>
            <div class="w-1/4">
                <figure>3</figure>
                <p>We build out some basic components of the system, and then have your staff try out the system to make sure it’s easy to use and makes sense to them. We incorporate feedback as we build.</p>
            </div>
            <div class="w-1/4">
                <figure>4</figure>
                <p>We complete the build, do more user testing, incorportate your feedback, and launch once you and your staff have everything they need.</p>
            </div>
        </div>
        
    </div>
</section>