{{if .background}}
<section class="hero"  style="background-image: url({{.background | relURL}})">
{{else}}
<section class="hero">
{{end}}
    <div class="container mx-auto">
        <div class="message">
                <h1 class="text-5xl font-normal text-gray-700 leading-none mb-4 text-{{ .hero_headline_alignment }}">{{.headline}}</h1>
                <h2 class="text-3xl font-normal text-gray-700 leading-none mb-6 text-{{ .hero_headline_alignment }}">{{.subheadline}}</h2>
                {{if .hero_text}} <div class="hero-text-block text-{{ .hero_text_alignment }}">{{.hero_text | safeHTML}}</div> {{end}}
                <a href="{{ .cta_url }}" class="btn" target="_blank" rel="noopener">{{ .cta_text }}</a>
        </div>
        <div class="image">
            <img src="{{ .hero_image|relURL }}" alt="{{.headline}}" />
        </div>
    </div>
</section>