<section class="two-pane-w-header" style="{{ safeHTMLAttr (printf "font-size: %sem" .font_size) }};{{ safeHTMLAttr (printf "background-color: %s" .background_color) }};{{ safeHTMLAttr (printf "color: %s" .font_color) }}">
    <div class="container mx-auto">
    <div class="headline">
        <h1>{{ .headline }}</h1>
    </div>
    <div class="split">
        <div>
            <h1 class="text-3xl text-orange font-bold">Our Blog</h1>
            <div class="blog-entry">
                <div class="image">
                    <img height="125" width="125" src="https://via.placeholder.com/125" />
                </div>
                <div class="info">
                    <h4><span class="text-orange">20 Oct</span> On the value of static sites vs CMSs in the modern websites life</p></h4>
                    <sub>in Data Management and Databases</sub>
                </div>
            </div>
            <div class="blog-entry">
                <div class="image">
                    <img height="125" width="125" src="https://via.placeholder.com/125" />
                </div>
                <div class="info">
                    <h4><span class="text-orange">20 Oct</span> On the value of static sites vs CMSs in the modern websites life</p></h4>
                    <sub>in Data Management and Databases</sub>
                </div>
            </div>
            <div class="blog-entry">
                <div class="image">
                    <img height="125" width="125" src="https://via.placeholder.com/125" />
                </div>
                <div class="info">
                    <h4><span class="text-orange">20 Oct</span> On the value of static sites vs CMSs in the modern websites life</p></h4>
                    <sub>in Data Management and Databases</sub>
                </div>
            </div>
            <div class="blog-entry">
                <div class="image">
                    <img height="125" width="125" src="https://via.placeholder.com/125" />
                </div>
                <div class="info">
                    <h4><span class="text-orange">20 Oct</span> On the value of static sites vs CMSs in the modern websites life</p></h4>
                    <sub>in Data Management and Databases</sub>
                </div>
            </div>
            <div class="blog-entry">
                <div class="image">
                    <img height="125" width="125" src="https://via.placeholder.com/125" />
                </div>
                <div class="info">
                    <h4><span class="text-orange">20 Oct</span> On the value of static sites vs CMSs in the modern websites life</p></h4>
                    <sub>in Data Management and Databases</sub>
                </div>
            </div>
        </div>
        <div>
            <h1 class="text-3xl text-orange font-bold">Our Tweets</h1>
            <a class="twitter-timeline" href="https://twitter.com/InciterHQ?ref_src=twsrc%5Etfw" data-tweet-limit="2" data-chrome="noheader">Tweets by InciterHQ</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    </div>
</section>