<header class="bg-gray-800 p-2 mt-0 fixed w-full z-10 top-0 box-border">
    <div class="flex container mx-auto">
        <div class="logo-wrapper w-full md:w-2/6"><img src="{{ .logo_image | relURL }}" alt="Inciter" /></div>
        <div class="cta"><a href="{{.button_url}}" target="_blank" rel="noopener" class="btn">{{ .button_text }}</a></div>
    </div>
</header>
<div id="shadowheader" class="box-border" style="height:120px;"> 
<!-- This empty div occupies the original 'space' that would have been taken up by the header if it were not 'fixed' positioned -->
</div>