<footer>
    <div class="container mx-auto">
        <div class="copyright">
            {{ .footer_text | safeHTML }}
        </div>
        <div class="links">
            {{- range .social_icons_section -}}
                {{- range .networks -}}
                    <a href="{{ .network_url }}" target="_blank" rel="noopener" alt="{{ .network_name}}">{{ partial "fontawesome.html" .network_icon }}</a>
                {{- end -}}

                
            {{- end -}}
        </div>
    </div>
</footer>
