<footer>
    <div class="container mx-auto">
        <div class="copyright">
            &copy; {{ now.Year }} Inciter. All Rights Reserved. Incite is a trademark and product offering of Inciter.
        </div>
        <div class="links">
            {{- range .social_icons_section -}}
                {{- range .networks -}}
                    <a href="{{ .network_url }}" target="_blank" rel="noopener" aria-label="Visit us on {{.network_name}}">{{ partial "fontawesome.html" .network_icon }}</a>
                {{- end -}}

                
            {{- end -}}
        </div>
    </div>
</footer>
