<section class="three-pane {{ .section_name }}" style="{{ safeHTMLAttr (printf "font-size: %sem" .font_size) }};{{ safeHTMLAttr (printf "background-color: %s" .background_color) }};{{ safeHTMLAttr (printf "color: %s" .font_color) }}">
    <div class="container mx-auto">
        {{if .show_headline}}
        <div class="headline"><h1>{{.headline}}</h1></div>
        {{end}}
        {{if .show_subheadline}}
        <div class="subheadline"><h2>{{.subheadline}}</h2></div>
        {{end}}
        <div class="row">
            <div><h1>{{ partial "fontawesome.html" .left_icon }} {{.left_title}}</h1>{{ .left_content|safeHTML }}</div>
            <div><h1>{{ partial "fontawesome.html" .center_icon }} {{.center_title}}</h1>{{ .center_content|safeHTML }}</div>
            <div><h1>{{ partial "fontawesome.html" .right_icon }} {{.right_title}}</h1>{{ .right_content|safeHTML }}</div>
        </div>
    </div>
</section>